---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import miFoto from '../assets/3798d8bd-b8b5-40ea-938d-cb7bebf72fee.jpg';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1 style="display: flex; align-items: center; gap: 0.5rem;">
				<img src={miFoto.src} alt="Mi foto" width="200" style="border-radius: 50%;" />
				Hola, Soy Jhon Dalton!
			</h1>
			
			<p>
				Disfruto crear soluciones, sobre todo si estas aportan valor a otras personas. Descubrí 
				esta motivación desde temprana edad, cuando me disponia a reparar algunas cosas en casa, 
				lo que despertó en mí el interés por enfrentar constantemente nuevos retos. Hoy, la 
				informática se ha convertido en mi principal herramienta para desarrollar soluciones cada 
				vez más complejas y eficientes.
			</p>
			<p>
				Actualmente estoy cursando en 9no ciclo de la carrera de Ing. Sistemas e Informatica en la 
				Universidad Nacional de San Martín. A lo largo de mi formaciòn he desarrollados proyectos 
				de curso y personales en en áreas como Desarrollo de Software, Modelamiento y Simulaciòn de 
				Procesos, Soluciones electronicas con Microchips, Modelamiento y Analisis de datos, etc. 
			</p>

			<p>
				Adicionalmente, de forma autodidacta estos ultimos mes hey estado involucrandome en el entrenamiento 
				de modelos de Inteligencia Artificial, desarrollo movil para la plataforma Android y el despliegue
				a producciòn en platadormas como AWS y CloudFlare.
			</p>
			<p>
				Es por esto que mi principal objetivo ahora es poner mis conocimientos a disposición de proyectos que 
				tengan un impacto real y duradero en los interesados, partiendo por entender los requerimientos, 
				desarrollar soluciones adecuadas y disponibilizarlas para lograr la generación de valor; este sitio web 
				es evidencia de ello
			</p>
				Si tienes alguna pregunta o propuesta, o simplemente quieres saludar, no dudes en hacerlo
				<a 
					href="https://mail.google.com/mail/?view=cm&fs=1&to=jd.huaman@unsm.edu.pe" 
					target="_blank" 
					rel="noopener noreferrer"
					class="email-link"
				>
					contactarme
				</a>.
			<p>	
			</p>
		</main>
		<Footer />
	</body>
</html>
